* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: rgb(255, 255, 255);
}

.nav-bar {
    padding: 0px 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border: 1px solid;

}

.logo {
    display: flex;
    justify-content: left;
}

.nav-link-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.nav-link-items li {
    list-style: none;
}

.nav-link-items li a {
    text-decoration: none;
    color: grey;
    font-size: 22px; 
}

.nav-link-items li a:hover {
    color: red;
}

#about .card {
    background-color: rgb(253, 245, 238);
    border: none;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20%;
}

#about .card .card-img {
    width: 120px;
    height: 120px;
    border-radius: 80px;
    margin-bottom: 15px;
}

#about .card .card-title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(59, 36, 8);
}

#about .card .card-text {
    font-size: 16px;
    color: rgb(110, 85, 71);
}

.side-image {
    height: 500px;
    border-radius: 10px;  
    padding-left: 40px;
}



.content{
    display: flex;
    align-items: center;
}

#product .container .row{
 display: flex;
 justify-content: center;
}

#product .card {
   padding: 0px;
    width: 18rem;
    margin-left: 10px;
}
#product .card img{
    background-color: red;
}

#product .card .card-body p{
   display: none;
}